@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');


  body{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000_5.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c1552a7bdc2ea7b6e17d8d0d893c15be");
  margin-left: 15%;
  margin-right: 15%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif', serif;
    color: black;
    text-align: center;
}

.banner{
	height: 100vh;
	width: 100%;

	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
}
.banner .navbar{
	margin-top:4%;
}
.banner .navbar-brand{
	color: rgb(199, 49, 49);
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.banner .nav{
	margin-right:10%; 
}
.banner .nav li a{
	color:#aaa;
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #e91d43;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: #e91e63;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.header{
    background-image: url("./steps-canva.png");
    height: 500px;
    background-size: 1890px;
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
}
p{
    text-align: center;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
img{
    display: flex;
    margin: 0px auto;
    height: 600px;
}

h3,h2{
  text-align: center;
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
}
#ending{
  text-align: center;
  color: black;
  font-size: 30px ;
  font-family: 'Amatic SC', cursive;
}
#arrow{
  height: 300px;
  width: 300px;
  animation: floating 1s infinite ease-in-out;
  cursor: pointer;
}
@keyframes floating {
  0% {
      transform: translateY(0px)
  }
  50% {
      transform:translateY(10px)
  }
  100% {
      transform: translateY(0px)
  }
  }

